{{ if type == 'intro' }}
  {{ partial:components/blocks/intro }}
{{ /if }}

{{ if type == 'page_teasers' }}
  {{ partial:components/blocks/page-teasers }}
{{ /if }}

{{ if type == 'call_to_action' }}
  {{ partial:components/blocks/call-to-action }}
{{ /if }}

{{ if type == 'editor' }}
  {{ partial:components/blocks/editor }}
{{ /if }}

{{ if type == 'milestones' }}
  {{ partial:components/blocks/milestones }}
{{ /if }}

{{ if type == 'testimonials' }}
  {{ partial:components/blocks/testimonials }}
{{ /if }}

{{ if type == 'wish_form' }}
  {{ partial:components/blocks/wish-form }}
{{ /if }}
