<a 
  href="{{ url }}" 
  aria-label="{{ title }} – mehr erfahren"
  class="group flex flex-col no-underline {{ class }}">

  {{ if teaser_image }}
    {{ partial:components/media/image
       :image="teaser_image"
       :alt="teaser_image:alt"
       class="aspect-[3/2] object-cover transition group-hover:brightness-85"
       sizes="(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 85vw" }}
  {{ /if }}

  {{ partial:components/headings/h3 class="font-bold text-[22px] md:text-[28px] lg:text-[34px] mt-12 md:mt-16 lg:mt-20 mb-4 lg:mb-8" }}
    {{ title }}
  {{ /partial:components/headings/h3 }}

  <span class="flex flex-col gap-y-8 md:gap-y-12 text-[16px] lg:text-[18px]">

    {{ if teaser_date }}
      <span>
        {{ teaser_date }}
      </span>
    {{ /if }}

    <span class="flex items-center gap-16 text-crimson">
      <span class="h-px flex-1 bg-crimson"></span>
      <span>mehr erfahren</span>
      {{ partial:components/icons/arrow-right-long class="w-50 h-auto shrink-0 opacity-0 -translate-x-8 transition duration-300 ease-out group-hover:opacity-100 group-hover:translate-x-0" }}
    </span>

  </span>

</a>
