{{ partial:components/layout/section spacing="loose" }}

  {{ partial:components/layout/container compact="true" class="text-center" }}

    {{ if title }}
      {{ partial:components/headings/h1 class="font-bold text-[32px] md:text-[48px] lg:text-[64px] leading-none mb-12 md:mb-16 lg:mb-20" }}
        {{ title }}
      {{ /partial:components/headings/h1 }}
    {{ /if }}

    {{ if editor }}
      <article class="text-[22px] md:text-[28px] lg:text-[34px]">
        {{ editor }}
      </article>
    {{ /if }}

    {{ if button_label && button_link }}
      {{ partial:components/button :href="button_link" class="mt-16 md:mt-24 lg:mt-32" }}
        {{ button_label }}
      {{ /partial:components/button }}
    {{ /if }}

  {{ /partial:components/layout/container }}

{{ /partial:components/layout/section }}
