{{ partial:components/layout/section spacing="loose" class="bg-linen" }}

  {{ partial:components/layout/container compact="true" }}

    <div class="mx-auto w-full max-w-[42rem]">

      {{ if title }}
        {{ partial:components/headings/h2 class="font-script text-brand text-[32px] md:text-[44px] lg:text-[56px] leading-none -rotate-3 origin-bottom-left" }}
          {{ title }}
        {{ /partial:components/headings/h2 }}
      {{ /if }}

      {{ if image }}
        {{ partial:components/media/image
          :image="image"
          :alt="image:alt"
          wrapperClass="mt-16 md:mt-20 lg:mt-24"
          class="aspect-[3/2] object-cover"
          sizes="(min-width: 768px) 672px, 100vw" }}
      {{ /if }}

    </div>

  {{ /partial:components/layout/container }}

{{ /partial:components/layout/section }}
