{{ partial:components/layout/section spacing="snug" class="bg-linen" }}

  {{ partial:components/layout/container compact="true" }}

    <div class="mx-auto w-full max-w-[60rem] relative">

      {{ if title }}
        {{ partial:components/headings/h2 class="font-script text-crimson text-[64px] md:text-[96px] lg:text-[128px] leading-none md:absolute md:-top-48 lg:-top-64" }}
          {{ title }}
        {{ /partial:components/headings/h2 }}
      {{ /if }}

      {{ if image }}
        {{ partial:components/media/image
          :image="image"
          :alt="image:alt"
          wrapperClass="md:mt-36 lg:mt-48 md:max-w-[32rem] lg:max-w-[40rem] mx-auto"
          class="aspect-[3/2] object-cover"
          sizes="(min-width: 768px) 672px, 100vw" }}
      {{ /if }}

    </div>

  {{ /partial:components/layout/container }}

{{ /partial:components/layout/section }}
