{{ partial:components/layout/section spacing="loose" class="bg-brand text-white" }}

  {{ partial:components/layout/container compact="true" }}

    {{ if title }}
      {{ partial:components/headings/h2 class="font-bold text-[22px] md:text-[28px] lg:text-[34px] leading-[1.2]" }}
        {{ title }}
      {{ /partial:components/headings/h2 }}
    {{ /if }}

    <ol class="mt-24 md:mt-32 lg:mt-40 flex flex-col gap-24 md:gap-32 lg:gap-40">
      {{ steps }}
        <li class="flex items-start gap-20 md:gap-28 lg:gap-36">

          {{ if icon }}
            {{ partial src="components/icons/{icon}" class="size-48 md:size-60 lg:size-72 shrink-0" }}
          {{ /if }}

          <div class="max-w-[46rem]">
            {{ partial:components/headings/h3 class="font-bold text-[16px] md:text-[18px] lg:text-[20px]" }}
              {{ count }}. {{ title }}
            {{ /partial:components/headings/h3 }}
            {{ if text }}
              <p class="mt-4 md:mt-8 text-[15px] md:text-[16px] lg:text-[18px]">{{ text | nl2br }}</p>
            {{ /if }}
          </div>

        </li>
      {{ /steps }}
    </ol>

  {{ /partial:components/layout/container }}

{{ /partial:components/layout/section }}
