*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.php-cs-fixer.cache
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/INSTALL.md
/node_modules
/public/fonts-manifest.dev.json
/public/hot
/public/cp-hot
/public/storage
/public/vendor/statamic/cp-dev
/storage/*.key
/storage/pail
/vendor
/content/collections/wishes/*
!/content/collections/wishes/.gitkeep
/users
/public/assets
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
public/.htaccess