<nav
  x-show="menu"
  x-cloak
  x-transition:enter="transition ease-out duration-0"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="fixed top-0 left-0 z-70 w-full h-auto pb-36 lg:pb-40 bg-white shadow-[0_0_8px_0_rgba(0,0,0,0.05)]">
  
  {{ partial:components/layout/container spacing="pt-36 lg:pt-40" class="flex items-start justify-between" }}
    <a href="/" aria-label="Zur Startseite">
      {{ partial:components/logos/anniversary/my-bank-black-byline class="w-198 lg:w-236 h-auto" }}
    </a>
    {{ partial:components/menu/buttons/hide }}
  {{ /partial:components/layout/container }}

  {{ partial:components/layout/container class="mt-32 md:mt-44 lg:mt-56" }}
    <div class="ml-16 lg:ml-20 flex flex-col gap-y-48 lg:gap-y-60">
      
      <ul class="flex flex-col gap-y-12 md:gap-y-18 lg:gap-y-24">
        {{ nav:main }}
          {{ partial:components/menu/item }}
        {{ /nav:main }}
      </ul>

      <div>
        {{ partial:components/social-media class="text-ink" }}
      </div>

    </div>
  {{ /partial:components/layout/container }}

</nav>

