<footer class="bg-brand text-snow">

  {{ partial:components/layout/container spacing="py-20 md:py-28 lg:py-36" class="text-[14px] md:text-[16px]" }}

    {{# Logo Raiffeisen #}}
    <a href="/" aria-label="Zur Startseite" class="block w-120 md:w-140 lg:w-160 mb-16 md:mb-20">
      {{ partial:components/logos/raiffeisen class="w-full h-auto text-snow" }}
    </a>

    <div class="grid grid-cols-1 md:grid-cols-3 items-start max-md:gap-x-20">

      {{# Address #}}
      <div class="max-md:order-1 md:col-start-1 md:row-start-1">
        <div class="[&_a]:text-snow [&_a]:underline [&_a]:underline-offset-2 lg:[&_a]:underline-offset-4 [&_a]:decoration-1 [&_a:hover]:no-underline text-xxs md:text-[18px]">
          {{ address:address | nl2br }}
        </div>
      </div>

      {{# Social Media #}}
      <div class="max-md:order-2 md:justify-self-center md:col-start-2 md:row-start-2 mt-16 md:mt-78 lg:mt-82">
        {{ partial:components/social-media class="text-snow" }}
      </div>

      {{# Logo Anniversary #}}
      <div class="max-md:order-3 md:justify-self-center md:col-start-2 md:row-start-1 md:ml-52 max-md:mt-32">
        {{ partial:components/logos/anniversary/your-bank-white-byline class="w-192 h-auto" }}
      </div>

      {{# Main Navigation #}}
      <nav aria-label="Fussnavigation" class="max-md:order-4 md:justify-self-end md:col-start-3 md:row-start-1 md:row-span-2 md:text-right max-md:mt-32">
        <ul class="font-bold flex flex-col gap-y-4 md:gap-y-6 lg:gap-y-8">
          {{ nav:main }}
            <li>
              <a
                href="{{ url }}"
                class="no-underline underline-offset-2 lg:underline-offset-4 decoration-1 hover:underline"
                {{ if is_current || is_parent }}aria-current="page"{{ /if }}>
                {{ title }}
              </a>
            </li>
          {{ /nav:main }}
        </ul>
      </nav>

      {{# Legal Navigation #}}
      <div class="max-md:order-5 md:col-start-1 md:row-start-2 mt-24 md:mt-34">
        <nav aria-label="Rechtliche Hinweise">
          <ul class="font-bold flex flex-col gap-y-4 md:gap-y-6 lg:gap-y-8">
            {{ nav:privacy }}
              <li>
                <a
                  href="{{ url }}"
                  class="no-underline underline-offset-2 lg:underline-offset-4 decoration-1 hover:underline">
                  {{ title }}
                </a>
              </li>
            {{ /nav:privacy }}
            <li>
              &copy; Raiffeisenbank Weissenstein
            </li>
          </ul>
        </nav>
      </div>

    </div>

  {{ /partial:components/layout/container }}

</footer>
