<header class="sticky top-0 z-50 bg-white/80 backdrop-blur-[15px] shadow-[0_0_8px_0_rgba(0,0,0,0.05)]">
  {{ partial:components/layout/container spacing="py-20" class="flex items-start justify-between" }}
    <a href="/" aria-label="Zur Startseite">
      {{ partial:components/logos/anniversary/my-bank-black-byline class="w-232 lg:w-274 h-auto" compact="true" }}
    </a>
    {{ partial:components/menu/buttons/show }}
  {{ /partial:components/layout/container }}
</header>

{{ partial:components/menu/container }}
